.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.hero{
    background-color: #1F2937;
    min-height: 85vh;

}
.navbar{
    display: flex;
    gap:2em;
    justify-content: flex-end;
    padding: 01em;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}
.title{
    font-size: 48px;
    color: #F9FAF8;
}
.subtext,.header_link{
    font-size: 18px;
    color: #E5E7EB;
}
.header_link,.logo{
    text-decoration: none;
}
.logo:hover{
    color: #f9faf877;
}
.header_link:hover{
    color: #e5e7eb7e;
}
.hero_b{
    background-color: #3882F6;
    color: #F9FAF8;
    text-decoration: none;
    position: relative;
    padding: 2.5% 5% 2.5% 5%;
    font-size: 1em;
    margin: 5% 0 0 0;
    border-radius: 0.8em;
}
.hero_b:hover{
    color: #3882F6;
    background-color: #F9FAF8;
    cursor: pointer;
}
.texts{
    display: flex;
    justify-content: center;
}
@media(max-width: 1000px){
    .texts{
    flex-wrap: wrap;
    }
}
@media(max-width: 648px){
    img{
        width: 80%;
        height: 80%;
    }
}
img{
    padding: 5% 10%;
}
.text{
    padding: 9% 0 0 7%;
}
.next{
    display: flex;
    min-height:70vh;
    background-color: #E5E7EB;
}
.portfolioText{
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    margin: 3% 0 0 0;
}
.portfolio{
    min-height: 70vh;
}
.lists{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2em;
}
.box{
    margin: 10px;
    width: 200px;
    height: 200px; 
    padding: 0 0 5em 0; 
    text-align: center;
}
.project_img{
    border: 0.2em solid rgba(0, 0, 255, 0.424);
    border-radius: 0.8em;
}
.project_img:hover{
    border: 0.2em solid rgb(29, 29, 180);
    border-radius: 0.8em;
}
.contact_me{
    height:40vh;
    display: flex;
    justify-content: center;
}

.contact{
    background-color: rgba(0, 0, 255, 0.665);
    width: 60%;
    height: 60%;
    border-radius: 20px;
    position: relative;
    top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact_text{
    color:#E5E7EB;
    margin-left: 2em;
    font-size: 1.5em;
}
#clickb{
    border:#ffffff solid 0.19em;
    text-decoration: none;
    position: relative; 
    width: fit-content;
    border-radius: 18px;
    padding: 12px;
    position: absolute;
    top: 5em;
    right: 5em;
    color: #ffffff;
}
#clickb:hover{
    border: #0041a9;
    background-color:#0041a9;
    color: #E5E7EB;
}
@media(max-width: 865px){
    #clickb{
        position: relative;
        top: 0;
        left: 4em;

    }
}
@media(max-width: 516px){
    .contact{
        width: 70%;
        height: 75%;
    }
    .contact_text{
        margin-left: 1em;
    }
}
footer{
    height: 10vh;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}